li {
  padding: 10px;
}
.heading {
  color: rgb(241, 227, 227);
  font-size: 25px;
  text-decoration: none;
}
.heading:hover {
  background: none;
  border-bottom: 1px solid white;
}
button {
  font-size: 30px;
  margin-right: 30px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  float: right;
}

.navBar {
  background-color: #111;
  color: white;
  padding: 20px 0px;
  margin: 0px;
}

.links {
  height: 40px;
  overflow: hidden;
  list-style-type: none;
  font-weight: bold;
}
ul li:hover {
  background-color: rgb(97, 12, 12);
  border-radius: 100%;
  cursor: pointer;
}

.show-nav {
  height: 120px;
}

.text-color {
  color: white;
  padding-bottom: 15px;
  text-decoration: none;
}
@media screen and (min-width: 650px) {
  button {
    display: none;
  }

  .links {
    height: auto;
    display: flex;
    align-items: right;
    justify-content: right;
  }

  .text-color {
    color: white;
    padding: 15px;
    margin: 10px;
  }

  .heading {
    color: red;
    font-size: 20px;
    margin-right: 10px;
    padding: 10px;
  }

  .navBar {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 20px;
  }
}
