.type-card {
  height: 40vh;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: black 0px 0px 10px;
  background-image: linear-gradient(rgb(97, 12, 12), white, rgb(97, 12, 12));
}
.type-card:hover {
  transform: scale(1.03);
  box-shadow: black 0px 0px 5px;
  background-image: linear-gradient(white, rgb(97, 12, 12), white);
}
.type-card-image {
  height: 30vh;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  width: 100%;
}
.type-card-image img {
  width: 100%;
  border-radius: 30px;
}
.type-card-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
  margin-top: 20px;
}
